{% extends 'base.html' %}
{% block title %}
{{ cat }}
{% endblock %}
{% block content %}

<h1>Posts in category <strong>{{ cat }}</strong></h1>
    <br/>
{% if post_list %}
<ul class="list-group">
    {% for post in post_list %}
        <li class="list-group-item">
            <strong>{{ post.category }}</strong> |
            <a href="{% url 'blog:detail' post.id %}"> {{ post.title }}</a> | {{ post.author }}
        {% if user.is_authenticated and user.id == post.author.id %}
        <a href="{% url 'blog:update_post' post.id %}" ><small>Edit |</small></a> <a href="{% url 'blog:delete_post' post.id %}" ><small>Delete</small></a>
        {% endif %}
        <p>{{ post.snippet }}</p>
        <br/>
        <p>{{ post.likes.count }} <img src="https://img.icons8.com/color/48/000000/like--v1.png" width="25" height="25" /></p>
      </li>
    {% endfor %}
</ul>
{% else %}
    <p>No posts available</p>
{% endif %}

 {% endblock %}