{% extends 'base.html' %}
{% block title %}
    Search {{ tag }}
{% endblock %}
{% block content %}
    <h1>Search by <strong>{{ tag }}</strong></h1>
    <br/>
{% if object_list %}
<ul class="list-group">
    {% for post in object_list %}
        <li class="list-group-item">
            <strong>{{ post.category }}</strong> |
            <a href="{% url 'blog:detail' post.id %}"> {{ post.title }}</a> | {{ post.author }}
        {% if user.is_authenticated and user.id == post.author.id %}
        <a href="{% url 'blog:update_post' post.id %}" ><small>Edit |</small></a> <a href="{% url 'blog:delete_post' post.id %}" ><small>Delete</small></a>
        {% endif %}
        <p>{{ post.snippet }}</p>
        <br/>
        <p>{{ post.likes.count }} <img src="https://img.icons8.com/color/48/000000/like--v1.png" width="25" height="25" /></p>
      </li>
    {% endfor %}
</ul>

 <br/>
    <br/>
    <hr> <br/>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&tag={{ tag }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&tag={{ tag }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&tag={{ tag }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&tag={{ tag }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    <br/>
    <br/>

{% else %}
    <p>No posts available</p>
{% endif %}

 {% endblock %}